.row {
  width: 100%;
  border: 1px solid var(--layout-border-color);
  border-radius: 8px;
  cursor: pointer;
  padding: 16px;
}
.col {
  display: flex;
  align-items: center;
  padding: 0 5px;
}
.fullNameWrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
.textWrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.icon {
  display: flex;
}
.icon:hover {
  cursor: pointer;
}
.active {
  border-color: var(--color-primary);
}
