:root {
  --box-shadow-color: #babacb66;
  --alert-background-color: #f6f6fb;
  --background-color: #fff;
  --layout-border-color: rgba(5, 5, 5, 0.06);
  --color-primary: #4022F5;
  --background-active-item: #D9E1FC;
  --background-item: #F1F4FE;
}
