:root {
  --box-shadow-color: #babacb66;
  --item-background-color: #f6f6fb;
  --default-background-color: #fff;
  --layout-border-color: rgba(5, 5, 5, 0.06);
  --color-primary: #4022F5;
  --color-danger: #CF1743;
  --color-danger-border: #FFD6E0;
  --color-border-hover: #7289FF;
  --active-icon-background: #D9E1FC;
  --icon-background: #F1F4FE;

  --blue-card-icon-color: #4022F5;
  --blue-card-bg-color: #F1F4FE;

  --orange-card-icon-color: #FF8933;
  --orange-card-bg-color: #FFF3EB;

  --green-card-icon-color: #1FC074;
  --green-card-bg-color: #ECFAF5;

  --placeholder-color: #9699B1;

  --text-color: rgba(0, 0, 0, 0.88);

  --done-tag-bg-color: #D5F6EA;
  --cancel-tag-bg-color: #FFD6E0;
  --pending-tag-bg-color: #FFF8D6;
  --reserve-tag-bg-color: #FFE6D6;
  --other-tag-bg-color: #D9E1FC;
}
